*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: white;
}
.kumar{
    margin-bottom: 20px;
    padding:50px;
    width: 650px;
    height: 250px;

    
}
.sravan{
    color:teal;
    font-weight: Bold;
    /* font-family:'Times New Roman', Times, serif; */
}

.abc{
     color:yellowgreen;
     font-weight:bolder;
     font-size: x-large;
     /* font-family:'Times New Roman', Times, serif; */
}

.abcd{
    color:steelblue;
    font-size:medium;
   
    /* font-family:'Times New Roman', Times, serif; */
}

.abcde{
    background-color:teal;
    color:white;
    width:50%;
    height:250px;
    float:left;
    padding: 30px;
    

}

.abcdef{
    background-color:yellowgreen;
    width:250px;
    height:40px;
    color:white;
    border: 0.5px solid yellowgreen;
    border-radius: 5px;

}

.vengal{
    background-color:mediumturquoise;
    color:white;
    width:50%;
    height:250px;
    float:right;
    padding: 30px;
    
}
.b{
    font-size: x-large
    
}